name: Update Workflow

on:
  workflow_dispatch:    
  push:
    branches:
      - master
    # only triggers on solo readme commits basically
    paths:
      - '*.txt'
      - '!languages/**'
      - '!scripts/**'
      - '!shortcodes/**'
      - '!templates/**'
      - '!tests/**'
      - '!*.php'
      - '!docker*'
      - '!*.css'

jobs:
  update:
    container:
      image: alpine:3.21
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # setup
      - run: apk add --no-cache subversion
      - run: svn co -q https://plugins.svn.wordpress.org/leaflet-map /repo
      - run: rm -rf /repo/trunk/*
      - run: cp -r * /repo/trunk
      - run: |
          cd /repo
          # get version
          VERSION=$(grep -m 1 Version ./trunk/readme.txt | cut -d' ' -f2)
          # stop if we didn't get the version
          if [[ -z "$VERSION" ]]; then exit 1; fi
          # update tagged
          svn rm tags/${VERSION}
          svn cp trunk tags/${VERSION}
          # add all svn
          svn add --force .
          svn ci -m "${{ github.event.head_commit.message }}" --username ${{ secrets.SVN_USER }} --password ${{ secrets.SVN_PASSWORD }}
